body{
    background-color: ivory;
    font-family: Courier, sans-serif;
}

.jumbotron {
    background-color: #f6f6f6;
    color: #000000;
    padding: 100px 25px;
}

.chart {
    padding-left: 0;
    padding-right: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 30px;
}

#searchbox{
    text-align: center;
    color: darkblue;
}
h1{
    text-align: center;
    color: cadetblue;
}

#keywordlist{
    font-size: 30px;
}

#feedback{
    text-align: left;
}

.center{
    width: auto;
    text-align: center;
}