{% extends 'Analyzer/base.html' %}


{% block title %} Trending {% endblock %}

{%block active_show_database %} active {% endblock %}

{% block body %}

<div id="geo">
    <form class="text-center" action='{% url "Analyzer:show_trending" %}' method="POST">{% csrf_token %}
        <h3>Search trending by location(Using WOEID):</h3>
       <p><select size="2" name="location" id="location">
           {% for item in sorted_woeid_list %}
                <option value={{ item.woeid }}>{{ item.name }}</option>
            {% endfor %}
        </select></p>
         <p><input type="submit" value="Search"></p>
    </form>
</div>


<div class="col-sm-12">
    <canvas class="chart" id="myChart" width="800" height="800"></canvas>
</div>
{% endblock %}